.autorisation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.simple-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 15px;
  border: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.border-btn {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  height: 25px;
  border: 1px solid #000;
  color: black;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  text-decoration: none;
}

.filled-btn {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  height: 25px;
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  text-decoration: none;
}
